.block {
    & p{
        font-weight: bold;
    }
}

.horizontal{
    list-style: none;
    & * { 
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }

    *:not(:last-child):after{
        content: ' , ';
    }

    a:hover{
        text-decoration: underline;
        color: purple
    }
}